/* Main */

.project_card {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 2em;
  padding: 1em;
  border: 1px black solid;
}

.text_section {
}

@media screen and (min-width: 768px) {
  .action_section {
    padding: 1em;
    flex-basis: 70%;
  }
}

@media screen and (max-width: 768px) {
  .action_section {
    padding: 1em;
    flex-basis: 100%;
  }
}

/* Image Section */

@media screen and (max-width: 768px) {
  .image_section {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .image_section {
    padding: 1em;
    flex-basis: 30%;
  }

  .image_section > img {
    height: 100%;
    width: 100%;
  }
}

/* Button Section */

.button_section {
  display: flex;
  padding-top: 2em;
}

.app_button {
  background-color: blueviolet;
  color: white;
  border-radius: 1em;
  padding: 0.6em;
  border: none;
  margin-right: 1em;
  font-size: 1.2em;
  cursor: pointer;
}

.code_button {
  background-color: gold;
  cursor: pointer;
  border: none;
  border-radius: 1em;
  padding: 0.6em;
  font-size: 1.2em;
}
