main {
  min-height: 80vh;
}

@media (min-width: 768px) {
  .home_layout {
    background-image: url("../../static/illustrations/overlay3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25em -7em;
  }
}

@media (max-width: 768px) {
  .home_layout {
    background-color: var(--primary-color);
  }
}
