main {
  min-height: 80vh;
  min-width: 80vh;
}

@media (min-width: 960px) {
  .home_layout {
    background-image: url("../../static/illustrations/overlay3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 25em -7em;
  }
}

@media (max-width: 960px) {
  .home_layout {
    background-image: url("../../static/illustrations/overlay3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10em -5em;
  }
}
