/* Hero section */

.hero_container {
  display: flex;
  padding: 3em 1em 3em 1em;
  justify-content: space-between;
}

.hero_image {
  width: 25em;
  height: 25em;
  margin-right: 5em;
}

.hero_text {
  margin-top: 2em;
  margin-left: 0.5em;
  margin-right: 8em;
}

/* row1 */

@media (min-width: 960px) {
  .row1 {
    display: flex;
    background-image: url("../../static/illustrations/details.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 6em;
  }
}

@media (max-width: 960px) {
  .row1 {
    display: flex;
    background-image: url("../../static/illustrations/details.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 6em;
  }
}

.row1_image {
  width: 25em;
  height: 25em;
  margin-left: 3em;
}

.text_section {
  padding: 1em;
  margin: 1em;
}

.text_section > p {
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.5em;
}

.text_section_title {
  text-align: center;
  padding: 0.5em;
}

/* Skills Row */

.no_show_img {
  display: none;
}

.skill_row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill_image {
  width: 8em;
  height: 4em;
  margin: 0.3em;

  animation: fadeInLeft 0.7s linear;
}

.skill_section {
  margin-top: 9em;
}

.skill_section > fieldset {
  border-width: 0.3em;
  border-style: solid;
  border-color: #5de6de;
  border-radius: 2em;
  padding: 1.5em;
  margin: 2em;
}

fieldset > legend {
  font-size: 1.2em;
  padding: 0.3em;
  font-weight: bold;
  color: purple;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Row 2 */

.row2 {
  margin-top: 4em;
}

.row2_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  margin: 1em;
}

.row2_item {
  padding: 1.5em 3em 1.5em 3em;
  margin: 1em 2em 1em 2em;
  background-color: #7cffcb;
  background-image: linear-gradient(315deg, #7cffcb 0%, #74f2ce 74%);
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 1em;
  color: white;
}
