.hero_container {
  display: flex;
  padding: 3em;
  justify-content: space-between;
}

.hero_image {
  width: 25em;
  height: 25em;
  margin-right: 3em;
}

.hero_text {
  margin-top: 3em;
  margin-left: 3em;
}

@media (min-width: 960px) {
  .row1 {
    display: flex;
    background-image: url("../../static/illustrations/details.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15em;
  }
}

@media (max-width: 960px) {
  .row1 {
    display: flex;
    background-image: url("../../static/illustrations/details.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 15em;
  }
}

.row1_image {
  width: 25em;
  height: 25em;
  margin-left: 3em;
}

/* Skills Row */
.no_show_img {
  display: none;
}

.skill_image {
  width: 8em;
  height: 4em;
  animation: fadeInLeft 1s linear;
}

.skill_row {
  margin-top: 9em;
}

.skill_row > fieldset {
  border-width: 0.3em;
  border-style: solid;
  border-color: #5de6de;
  border-radius: 2em;
  padding: 1.5em;
  margin: 2em;
}

fieldset > legend {
  font-size: 1.2em;
  padding: 0.3em;
  font-weight: bold;
  color: purple;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
